<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="at.ac.tuwien.aic.streamprocessing" level="debug">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.apache" level="warn">
        <appender-ref ref="STDOUT" />
    </logger>

    <appender name="CalculateSpeedLogFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/CalculateSpeed.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="at.ac.tuwien.aic.streamprocessing.storm.trident.CalculateSpeed" level="debug" additivity="false">
        <appender-ref ref="CalculateSpeedLogFile"/>
    </logger>

    <appender name="CalculateAverageSpeedLogFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/CalculateAverageSpeed.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="at.ac.tuwien.aic.streamprocessing.storm.trident.CalculateAverageSpeed" level="debug" additivity="false">
        <appender-ref ref="CalculateAverageSpeedLogFile"/>
    </logger>

    <appender name="CalculateDistanceLogFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/CalculateDistance.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="at.ac.tuwien.aic.streamprocessing.storm.trident.CalculateDistance" level="debug" additivity="false">
        <appender-ref ref="CalculateDistanceLogFile"/>
    </logger>

    <appender name="TaxiEntryKafkaProducerLogFile" class="ch.qos.logback.core.FileAppender">
        <file>logs/TaxiEntryKafkaProducer.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="at.ac.tuwien.aic.streamprocessing.kafka.producer.TaxiEntryKafkaProducer" level="debug" additivity="false">
        <appender-ref ref="TaxiEntryKafkaProducerLogFile"/>
    </logger>
</configuration>
